body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}

.red {
  background-color: #ff8080;
}

.green {
  background-color: #80ff80;
}

.blue {
  background-color: #8080ff;
}

.yellow {
  background-color: #ffff80;
}

.cyan {
  background-color: #80ffff;
}

.magenta {
  background-color: #ff80ff;
}
